/* HEADER */
.navbar{
    background-color: rgb(43, 63, 79) !important;
}

/* MAIN */
/* PARTE ALTA */
#intro, #about{
    background-color: rgb(33, 187, 157);
}

#intro p{
    color: white;
    font-size: 0.9rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.linee-white::before, .linee-white::after,
.linee-black::before, .linee-black::after{
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 15%;
    height: 2px;
    margin: 0 1rem;
}

.linee-white::before, .linee-white::after{
    background-color: white;
}

/* PARTE CENTRALE 1 */
#portfolio{
    color: rgb(43, 63, 79);
    padding: 2rem 1rem;
}

.linee-black::before, .linee-black::after{
    background-color: rgb(43, 63, 79);
}

.linee-black{
    margin-bottom: 1rem;
}

/* PARTE CENTRALE 2 */
#about{
    color: white;
    padding: 2rem 1rem;
}

#about p{
    margin-top: 1rem;
}

.btn{
    margin-top: 2rem !important;
}

/* PARTE CENTRALE 3 */
input.form-control, textarea.form-control{
    border: 0;
    border-bottom: 0.5px solid grey;
    border-radius: 0;
}

.btn-success{
    background-color: rgb(33, 187, 157) !important;
    border: 0 !important;
    margin-bottom: 1rem;
}

/* PARTE BASSA */
#social{
    background-color: rgb(57, 85, 108);
    color: white;
    padding-top: 1rem;
}

.color-green{
    color: rgb(33, 187, 157);
}

#social i{
    padding: 0.6rem;
    border: 1px solid white;
    border-radius: 100%;
    margin: 0 0.2rem;
    margin-bottom: 1rem;
}

#social .fa-facebook-f{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

#social .fa-linkedin-in{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/* FOOTER */
footer{
    background-color: rgb(43, 63, 79);
    padding: 2rem;
    color: white;
}